run = "python main.py"
language = "python3"
entrypoint = "main.py"
modules = ["python-3.11", "nodejs-20", "postgresql-16"]

[nix]
channel = "stable-24_05"
packages = ["freetype", "lcms2", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "pkg-config", "tcl", "tk", "xsimd", "zlib"]

[env]
PYTHONUNBUFFERED = "1"

[deployment]
run = ["python", "main.py"]

[userenv]

[userenv.shared]
WORKER_ENABLED = "true"
ADMIN_KEY = "pvTbgI65axPnfV8uFpdS9jhmcdIJ9h2Ij2u1m_SHUtA."
INDEXER_INTERVAL_HOURS = "24"
BLOCK_EXPLORER_PROVIDER = "blockscout"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5904
externalPort = 3000

[[ports]]
localPort = 8081
externalPort = 8081
